.about {
  width: 100%;
  height: 100vh;
  background-color: var(--base-color);

  display: flex;
  justify-content: center;
  align-items: center;

  .about-container {
    width: 60%;
    height: 40rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .about-top {
      border-bottom: 1px solid var(--secondary-color);
      padding: 0px 2rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h3 {
        color: #000000;
        font: 17px var(--montserrat-bold);
        line-height: 1.333;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        margin-bottom: 1.2rem;
      }

      h1 {
        color: var(--white-color);
        font: 78px var(--montserrat-medium);
        line-height: 1.25;
      }
    }

    .about-middle {
      margin: 2rem;
      padding: 0px 20px;
      text-align: center;

      p {
        margin-bottom: 2rem;
        color: #010507;
        font: 24px var(--lora-regular2);
        margin-bottom: 1rem;
        line-height: 1.765;
      }
    }

    .about-bottom {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;

      .about-bottom-section {
        width: 100%;
        height: 150px;
        border-right: 1px solid var(--secondary-color);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        line-height: 1.765;

        .about-bottom-section-stats {
          font: 84px var(--montserrat-bold);
          margin-bottom: 5px;
        }

        h5 {
          color: var(--black-color);
          font: 16px var(--montserrat-semi-bold2);
          margin-bottom: 30px;
        }

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  .about-content-line {
    width: 2px;
    height: 6.4rem;
    background-color: var(--white-color);
    position: absolute;
    right: 3.4%;
    bottom: -6.4rem;
  }
}

@media screen and (max-width: 1700px) {
  .about {
    height: 130vh;

    .about-container {
      .about-middle {
        p {
          font-size: 1.4rem;
        }
      }
    }

    .about-content-line {
      bottom: 0;
      top: 60.4rem;
    }
  }
}

@media screen and (max-width: 1550px) {
  .about {
    .about-content-line {
      right: 4%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .about {
    .about-container {
      width: 70%;

      .about-middle {
        p {
          font-size: 1.2rem;
        }
      }
    }

    .about-content-line {
      right: 4%;
    }
  }
}

@media screen and (max-width: 1050px) {
  .about {
    .about-container {
      width: 80%;
      height: auto;

      .about-middle {
        p {
          font-size: 1.1rem;
        }
      }

      .about-bottom {
        margin-top: 10px;
        width: 90%;
        height: auto;
        flex-wrap: wrap;

        .about-bottom-section {
          width: 45%;

          &:nth-child(1) {
            border-bottom: 1px solid var(--secondary-color);
          }

          &:nth-child(2) {
            border-bottom: 1px solid var(--secondary-color);
            border-right: none;
          }
        }
      }
    }

    .about-content-line {
      right: 5%;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    height: 140vh;

    .about-container {
      width: 90%;

      .about-middle {
        p {
          font-size: 1.2rem;
          padding: 0rem 4rem;
        }
      }
    }

    .about-content-line {
      top: 55.75rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .about {
    height: auto;

    .about-container {
      width: 95%;
      padding: 3rem 0rem;

      .about-top {
        margin-top: 4rem;
        width: 95%;

        h3 {
          font-size: 1rem;
        }

        h1 {
          font-size: 4rem;
        }
      }

      .about-middle {
        width: 95%;

        p {
          font-size: 1.2rem;
          padding: 0rem;
          margin-top: 1rem;
        }
      }

      .about-bottom {
        width: 100%;

        .about-bottom-section {
          width: 70%;
          margin: 0;
          margin: 1rem;

          &:nth-child(1) {
            border-right: none;
          }

          &:nth-child(2) {
          }

          &:nth-child(3) {
            border-bottom: 1px solid var(--secondary-color);
            border-right: none;
          }

          &:nth-child(2) {
          }
        }
      }
    }

    .about-content-line {
      right: 8%;
    }
  }
}

@media screen and (max-width: 425px) {
  .about {
    .about-container {
      width: 100%;

      .about-top {
        width: 100%;

        h1 {
          font-size: 3.5rem;
        }
      }

      .about-middle {
        width: 100%;

        p {
          font-size: 1.1rem;
        }
      }
    }

    .about-content-line {
      top: 60.4rem;
    }
  }
}

@media screen and (max-width: 375px) {
  .about {
    .about-container {
      .about-top {
        h1 {
          font-size: 3rem;
        }
      }

      .about-middle {
        p {
          font-size: 1rem;
        }
      }
    }

    .about-content-line {
      top: 65rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .about {
    .about-container {
      .about-top {
        h1 {
          font-size: 2.4rem;
        }
      }
    }
  }
}
